// Core theme styles
html {
    scroll-behavior: smooth;
}

// Apllied to body
body {
    margin: 0;
    padding: 0;
    // Text
    font: {
        size: 1em;
        family: "Open Sans", Arial, sans-serif;
    }
    line-height: 1.3em;
    text-align: justify;
}

.align-center {
    text-align: center;
}

// Used for heading of slider home page
h2 {
    font: {
        size: 1.5em;
    }
}

// Applies spacing to the different sections
#section-a,
#section-b,
#section-c,
#section-d {
    padding: 20px;
}

#section-a,
#section-b,
#section-d {
    img {
        width: 100%;
    }
}

// Backgraound Colors
.black-bg {
    // Class that applies a black background with white text
    background: {
        color: $black;
    }
    color: $white;
}

.pink-bg {
    background: {
        color: $pink;
    }
    color: $white;
}

// Button Stying
button {
    display: inline-block;
    background: {
        color: $white;
    }
    border: 1px solid $black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: $button-width;
    text-align: left;
    &:hover {
        width: $button-expand;
    }
    a {
        text: {
            decoration: none;
        }
        color: black;
    }
}

.red-border-bottom {
    border-bottom: 3px $pink solid; // places an underline
}

.transparent-border {
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

// Image Size
.off-image {
    display: block;
    height: 15em;
}

Positioning .float-left {
    float: left;
}

.float-right {
    float: right;
}

#page-header {
    width: 100vw;
    height: 250px;
    color: grey;
    background-color: rgb(238, 238, 238);
    h1 {
        padding-top: 100px;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
}