.partner-logos {
    height: 200px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    // transform: translate3d(0, 0, 0);
    animation-name: move-left;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 25px 0 0;
    white-space:nowrap;
    img {
            vertical-align: top;
            padding: 0 50px;
            width: 200px;
    }
}
.slider {
    overflow: hidden;
    background-color: black;
    margin-left: -100px;
    height: 200px;
}


@keyframes move-left {
    // 0%   {left:100%;}
    // 25%  {left:50%;}
    // 50%  {left:0%;}
    // 75%  {left:-50%;}
    // 100% {left:-100%;}
    // 0% {
    //         transform: translateX(0%);  
    // }
    // 100% { 
    //         transform: translateX(-66.6666%);  
    // }
    0% {
            left: 100%;
          }
    100% {
            left: -200%;
    }
}