.counter {
    border-top: 3px $pink solid;
    color: white;
    text-align: center;
}

.count-number {
    font-size: 1.4em;
}

.count-desc {
    font-size: 1em;
}

@media (min-width: 768px) {
    #countup {
        @include gridFour;
    }
}

@media (min-width: 1024px) {
    #countup {
        @include gridLinear;
    }
}